body {
    font-family: Roboto, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
}

a {
    /* this removes the line under our links */
    text-decoration: none;
    color: gray;
}

ul {
    list-style-type: none ;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 8px;
}
.header{
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    color: white;
    width: 100%;
    
}

.logo{
    font-size: 24px;
    color: #f9faf8;
    font-weight: 600;
}
.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 100px 100px 100px;
    
}
.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    margin: 10px 100px 100px 100px;

}
.about{
    display: flex;
    flex-direction: column;
    max-width: 600px;
    
    
}
.about button{
    width: 100px;

    color: #f9faf8;
    font-size: 18px;
    background-color: #3882f6;
    border: none;
    border-radius: 5px;
}
.about-title{
    font-size: 48px;
    font-weight: 900;
}
.about-sub-title{
    font-size: 20px;
}
.image{
    border: 2px solid gray;
    width: 500px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.random-info{
    display: flex;
    flex-direction: column;
}
.box{
    width: 100px;
    height: 100px;
    border: 1px solid black;
}
.cards{
    display: flex;
}
.quote{
    width: 100%;
}
.signup{
    display: flex;
}
.footer{
    display: flex;
    justify-content: center;
}