body {
    font-family: Roboto, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
}

a {
    /* this removes the line under our links */
    text-decoration: none;
    color: gray;
    font-size: 18px;
}

ul {
    list-style-type: none ;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 8px;
}
.header{
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    color: white;
    width: 100%;
    
}

.logo{
    font-size: 24px;
    color: #f9faf8;
    font-weight: 600;
}
.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 100px 100px 100px;
    
}
.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    margin: 10px 100px 100px 100px;

}
.about{
    display: flex;
    flex-direction: column;
    max-width: 600px;
    
    
}
.about button{
    width: 100px;

    color: #f9faf8;
    font-size: 18px;
    background-color: #3882f6;
    border: none;
    border-radius: 5px;
}
.about-title{
    font-size: 48px;
    font-weight: 900;
}
.about-sub-title{
    font-size: 18px;
}
.image{
    border: 2px solid gray;
    background-color: gray;
    width: 500px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.random-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.random-text{
    font-size: 36px;
    font-weight: 800;
}
.box{
    width: 100%;
    aspect-ratio:1;
    border: 3px solid  #3882f6;
    border-radius: 10px;
}
.cards{
    display: flex;
    justify-content: space-between;
    gap:50px
}
.card-text{
    font-size: 20px;
    text-align: center;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    
}
.quote{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
    height: 300px;
    
    
}
.quote-text{
    font-size: 36px;
    width: 60%;
}
.author{
    font-size: 30px;
    font-weight: 800;
    width: 60%;
    text-align: right;
}
.signup{
    display: flex;
}
.footer{
    display: flex;
    justify-content: center;
    background-color: aliceblue;
}

.signup{
    display: flex;
    align-items: center;
    justify-content: center;
}
.signup-box{
    background-color: #3882f6;
    display: flex;
    border-radius: 10px;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    width: 50%;
}
.signup-text{
    font-size: 34px;
    color: #f9faf8;
}
.signup button {
    width: 100px;

    color: #f9faf8;
    font-size: 25px;
    border: 2px solid #f9faf8;
    background-color: #3882f6;
    border-radius: 10px;
}